.fixed {

}

#button-centered{
    margin-bottom: 40px;
}

.center-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
}