<div>
    <mat-toolbar color="primary" class="fixed">  
        <mat-toolbar-row class="centered">
          <div >
            <span>{{title}}</span>
          </div>
        </mat-toolbar-row>
      </mat-toolbar> 
    <div *ngIf='!startQuiz else quizStarted'>
        <app-welcome (startClicked)="onStart($event)"></app-welcome>
    </div>
    <ng-template #quizStarted>
        <div
            #gridView id="background"
            (window:resize)="onResize($event)">
            <div class="mat">
                <mat-grid-list [cols]="nbColumns" rowHeight="1:1.69">
                    <mat-grid-tile *ngFor='let question of quiz.questions; let i = index'>
                        <app-question 
                            [question]='question'
                            [verify]='verify'
                            (status)='onStatusChange($event,i)'
                            > </app-question>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
           <div class="centered">
                    <button id="button-centered" mat-raised-button color="accent" (click)="onVerifyClicked()">
                        {{verify ? "Test nou" : "Verifică"}}   
                    </button>
           </div> 
        </div>
    </ng-template>
</div>