.questionCard {
    max-width: 200px;
    margin-top: 10px;
}

.listButton {
    display: flex;
    flex-direction: column;
}

#buttonChoice {
    margin: 2px
}

.buttonToggled {
    color: rgba(0,0,0,.87);
    background-color: #b0bec5;
}

.buttonIncorect {
    color: #ffffff;
    background-color: #f44336;
}

.buttonCorrect {
    color: #ffffff;
    background-color: green;
}
