<div >
    <mat-card class="questionCard">
        <mat-card-title>
            {{question.message}}
        </mat-card-title>
        <mat-card-content>
            <div class="listButton">
                <button mat-flat-button id="buttonChoice" 
                    *ngFor="let choice of question.choices; let i = index"
                     (click)='newChoice(i)'
                     [ngClass]="changeColor(i)">
                    {{choice}}
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>    