<div id="background">

      <div class="centered">
        <mat-card class="inputCard">
              <div class="oneLineForm">
                <mat-form-field color="primary" id="input">
                  <mat-label >Număr întrebări </mat-label>
                  <input #nbQuestions matInput #message maxlength="256" placeholder="" 
                        (keyup.enter)="onStart(nbQuestions.value)"
                        inputmode=”numeric” pattern=”[0–9]*” >
                </mat-form-field>
                <button mat-raised-button color="primary" 
                      class="buttonMargin"
                       (click)="onStart(nbQuestions.value)"> Start </button>
              </div>
        </mat-card>
      </div>
</div>