/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered {
    display:flex;
    justify-content:center;
}

.snackCenter .mat-simple-snackbar {
    justify-content: center;
}
#background {
    height: 100%;
    width: 100%;
    background: #303030;
}